<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
    
        <div><%= link_to "Clientes",clients_path%></div>
        <div><%= link_to "Livros",books_path%></div>
        <div><%= link_to "Categorias",categories_path%></div>
        <div><%= link_to "Autores",authors_path%></div>
        <div><%= link_to "Reservas",reservations_path%></div>
    